//icon size
.icons-xxs {
  width: 15px;
  height: 15px;
}
.icons-xs {
  width: 18px;
  height: 18px;
}

.icons-s {
  width: 20px;
  height: 20px;
}

.icons-m {
  width: 20px;
  height: 10px;
}
// .icons-l {
//     width: 15px;
//     height: 15px;
// }
// .icons-xl {
//     width: 10px;
//     height: 10px;
// }
.icons-2xl {
  width: 30px;
  height: 30px;
}

.mat-dialog-container {
  padding: 0 !important;
}

.cp {
  cursor: pointer;
}
