$BACKGROUND: #e9eff3;
$BLUE: #034ea2;
$SKYBLUE: #35aff8;
$DARKBLUE: #21386e;
$BLACK: #000000;
$DARKGREY: #333333;
$LIGHTGREY: #929292;
$LIGHTFREEN: #a5cf4d;
$WHITE: #ffffff;
$background-color: $BACKGROUND;
$background-white-color: $WHITE;
$blue-color: $BLUE;
$s-blue-color: $SKYBLUE;
$d-blue-color: $DARKBLUE;
$black-color: $BLACK;
$dark-grey-color: $DARKGREY;
$light-grey-color: $LIGHTGREY;
$light-green-color: $LIGHTFREEN;
//font-weight
$font-light: 300;
$font-medium: 500;
$fw-500: 700;
//font-size
$font-xxs: 8px;
$font-xs: 10px;
$font-s: 12px;
$font-m: 14px;
$font-l: 16px;
$font-xl: 18px;
$font-2xl: 20px;
$font-3xl: 22px;
$font-4xl: 24px;
$font-5xl: 26px;
$font-6xl: 28px;
$font-7xl: 30px;
$font-8xl: 32px;
