<div class="m-50">
  <p class="font-xl"><b>Queue Information</b></p>
  <div class="queue-actions mb-20 mt-20">
    <div class="search-box mr-10">
      <input type="text" placeholder="Search.." name="search" [(ngModel)]="searchKey"
        (ngModelChange)="searchData(searchKey)">
      <img src="/assets/images/icons/icon-search.svg" alt="Home" class="icons-xs">
    </div>
    <div class="settings">
      <div class="job-setting font-m">
        <div class="count pl-10 pr-10">
          {{configData ? configData.max_job: '12'}}
        </div>
        <div class="text pl-10 pr-10">
          Max Job
        </div>
      </div>
      <div class="thread-setting font-m ml-10 mr-20">
        <div class="count pl-10 pr-10">
          {{configData ? configData.max_thread: '12'}}
        </div>
        <div class="text pl-10 pr-10">
          Max Thread
        </div>
      </div>
      <button class="primary-btn conf-button font-m" (click)="openConfig()">
        <img src="/assets/images/icons/settings-24px.svg" alt="" class="pr-10">Change Configuration
      </button>
    </div>
  </div>
  <div class="info-container">
    <div class=" info-data pl-10 head">
      <input type="checkbox" class="ml-10" />
      <div class="name pl-20 font-m font-bold">
        Queue Name
      </div>
      <div class="session font-m font-bold">
        Number of sessions
      </div>
      <div class="summary font-m font-bold">
        Summary
      </div>
    </div>
    <ng-container *ngFor="let list of filteredData let i = index">
      <div class="info-data">
        <div class="name">
          <input type="checkbox" />
          <div class="pl-20 font-m">{{list.name}}</div>
        </div>
        <div class="session font-m ml-10">
          <div class="session-count" (click)="getList(i)">
            <div>
              {{list.sessions}}
            </div>
          </div>
          <div class="sessions-name" *ngIf="showList && i === selectedIndex">
            <app-sessions [data]="list"></app-sessions>
          </div>
        </div>
        <div class="summary font-m">
          <app-summary [data]="list"></app-summary>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <div class="page-container">
        <div class="pt-5 pb-5 page-content">
          <div class="pagination-left pl-20 pb-5 pt-5 font-s">
            Viewing 07 of 200 Records
          </div>
          <div class="pagination-right font-s mr-30">
            <div class="pb-5 pt-5">
              <img src="/assets/images/icons/skip_first.svg" alt="" class="icons-xs">
            </div>
            <div class="pb-5 pt-5">
              <img src="/assets/images/icons/skip_previous.svg" alt="" class="icons-xs mr-10 ml-10">
            </div>
            <div class="page-details">
              <p>Page</p>
              <input type="text" class="page-number ml-5 mr-5 p-5" size="6" value="1">
              <p>of 76</p>
            </div>
            <div class="pb-5 pt-5">
              <img src="/assets/images/icons/skip_next.svg" alt="" class="icons-xs mr-10 ml-10">
            </div>
            <div class="pb-5 pt-5">
              <img src="/assets/images/icons/skip_last.svg" alt="" class="icons-xs">
            </div>
          </div>
        </div>

      </div>
    </ng-container>
  </div>
</div>
<ng-container *ngIf="loadingData">
  <div class="loading">
    <img src="/assets/images/icons/Loader.svg" alt="Loading" class="icons-2xl">
    <div class="pt-20px loading-message font-2xl mt-20">
      <p class="font-2xl"> Please wait,</p>
      <p class="font-2xl">JBoss is restarting...</p>
    </div>
  </div>
</ng-container>
