.queue-actions {
    display: flex;
    justify-content: space-between;
    .search-box {
        width: 25%;
        display: flex;
        position: relative;
        &>input {
            width: 100%;
            padding: 8px 12px;
        }
        &>img {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
    .settings {
        display: flex;
        .job-setting {
            display: flex;
            &>.count {
                background-color: #034ea2;
                color: white;
                display: flex;
                align-items: center;
            }
            &>.text {
                text-align: center;
                border: 1px solid #034ea2;
                color: #034ea2;
                display: flex;
                align-items: center;
            }
        }
        .thread-setting {
            display: flex;
            &>.count {
                background-color: #35aff8;
                color: white;
                display: flex;
                align-items: center;
            }
            &>.text {
                text-align: center;
                border: 1px solid #35aff8;
                color: #35aff8;
                display: flex;
                align-items: center;
            }
        }
        .conf-button {
            color: white;
            border: 1px solid #35aff8;
            background-color: #35aff8;
            display: flex;
            align-items: center;
            &>img {
                width: 28px;
            }
        }
    }
}

div {
    .search-setting {
        display: flex;
        .settings {
            display: flex;
        }
    }
    .info-container {
        .info-data {
            display: flex;
            justify-content: space-between;
            background: #ffffff 0% 0% no-repeat padding-box;
            border: 1px solid #c1c3c9;
            padding: 4px 20px;
            &>.name {
                width: 30%;
                display: flex;
                justify-content: left;
                align-items: center !important;
            }
            &>.session {
                width: 50%;
                text-align: left !important;
                display: flex;
                align-items: center;
                position: relative;
                &>.session-count {
                    display: flex;
                    text-align: left;
                    background-color: #35aff8;
                    padding: 5px;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    color: #fff;
                    border-radius: 3px;
                    cursor: pointer;
                }
                &>.sessions-name {
                    position: absolute;
                    left: 50px;
                    top: 0px;
                    display: flex;
                }
            }
            &>.summary {
                width: 20%;
                display: flex;
                justify-content: center !important;
            }
        }
        .head {
            display: flex;
            justify-content: space-between;
            text-align: left;
            padding-top: 12px !important;
            padding-bottom: 12px !important;
            background-color: #dfe2ee !important;
            border-radius: 4px 4px 0px 0px;
            border: none;
        }
    }
}

.loading {
    height: 100vh;
    background-color: #000;
    opacity: 0.9;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .loading-message {
        text-align: center;
        color: white;
        opacity: 0.7;
        letter-spacing: 0.6px;
    }
}

.page-container {
    background-color: #dfe2ee !important;
    border: 1px solid #c1c3c9;
    border-radius: 0px 0px 4px 4px;
    .page-content {
        display: flex;
        justify-content: space-between;
        text-align: left;
        align-items: center;
        color: #333333;
        &>.pagination-left {
            width: 30%;
        }
        &>.pagination-right {
            width: 22%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            .page-details {
                display: flex;
                flex-direction: row;
                justify-content: center !important;
                align-items: center;
                .page-number {
                    color: #333333;
                    border: 1px solid #c1c3c9;
                }
                .page-number:focus {
                    outline-style: none;
                    color: #333333;
                }
            }
        }
    }
}