<div class="header">
  <div class="header-left">
    <a class="cp" (click)="goToHome()"><img src="https://freehost-spec.github.io/dexcenter-dashboard/assets/images/icons/logo.png" alt="Logo" width="50px" height="100px"
        class="mt-10 ml-10 logo"></a>
    <p class="companyname font-d-grey ml-10 font-xl">DEXcenter Dashboard</p>
    <div class="nav-path ml-30">
      <img src="https://freehost-spec.github.io/dexcenter-dashboard/assets/images/icons/home.svg" alt="Home" class="icons-xxs icon mr-5">
      <p class="home font-m"><span (click)="goToHome()">Home </span> <span *ngIf="activeUrl">&nbsp;/&nbsp;</span> <span
          class="fw-500 font-black">{{activeUrl}}</span>
      </p>
    </div>
  </div>
  <div class="header-right">
    <div class="mr-3">
      <p class="font-d-blue font-l">DEXcenter Administrator</p>
      <p class="font-d-blue font-s">Last login 12/01/2020 : 15:30</p>
    </div>
    <img src="https://freehost-spec.github.io/dexcenter-dashboard/assets/images/icons/account_circle-24px.svg" class="icons-2xl" alt=" profile ">
    <img src="https://freehost-spec.github.io/dexcenter-dashboard/assets/images/icons/arrow_drop_down-24px.svg " class="icons-s mr-10" alt="caret ">
    <div class="lang mr-10">
      <div class="sl-nav">
        <ul>
          <li>
            <p class="font-m font-d-grey pl-5 pt-5">EN</p>
            <img src="https://freehost-spec.github.io/dexcenter-dashboard/assets/images/icons/keyboard_arrow_down-24px.svg " class="icons-s ml-10 mt-2" alt="dropdown ">
            <ul>
              <li><i class="sl-flag flag-de">
                  <div id="germany"></div>
                </i> <span class="active">EN</span>
              </li>
              <li><i class="sl-flag flag-usa">
                  <div id="germany"></div>
                </i> <span>Englisch</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <img src="https://freehost-spec.github.io/dexcenter-dashboard/assets/images/icons/help_outline-24px.svg " class="icons-s mr-10" alt="help ">
    <img src="https://freehost-spec.github.io/dexcenter-dashboard/assets/images/icons/signout.svg " class="icons-s mr-30" alt="login ">
  </div>
</div>
