// background-color
.bg-color {
    background-color: $background-color;
}

.bg-white-color {
    background-color: $background-white-color;
}

.font-bg {
    background-color: $background-color;
}

// font-color
.font-blue {
    color: $blue-color;
}

.font-s-blue {
    color: $s-blue-color;
}

.font-d-blue {
    color: $d-blue-color;
}

.font-black {
    color: $black-color;
}

.font-l-grey {
    color: $light-grey-color;
}

.font-m-grey {
    color: $medium-grey-color;
}

.font-d-grey {
    color: $dark-grey-color;
}

.font-l-green {
    color: $light-green-color;
}

.font-white {
    color: $white;
}

// font-size
.font-xxs {
    font-size: $font-xxs;
}

.font-xs {
    font-size: $font-xs;
}

.font-s {
    font-size: $font-s;
}

.font-sm {
    font-size: $font-sm;
}

.font-m {
    font-size: $font-m;
}

.font-l {
    font-size: $font-l;
}

.font-xl {
    font-size: $font-xl;
}

.font-2xl {
    font-size: $font-2xl;
}

.font-3xl {
    font-size: $font-3xl;
}

.font-4xl {
    font-size: $font-4xl;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}