<div class="user-container mt-20 font-m">
    <!-- Table header -->
    <div class="user-container-rows">
        <div class="user-activity ml-50 fw-500">Activity Timeline</div>
        <div class="user-updated-on fw-500">Updated On ↕</div>
        <div class="user-updated-by fw-500">Updated By ↕</div>
    </div>
    <!-- Filter row -->
    <div class="filter">
        <div class="filter-activity ml-50">
            <div class="filter-box">
                <input type="text " placeholder="Filter" name="filter ">
                <img src=" https://freehost-spec.github.io/dexcenter-dashboard/assets/images/icons/arrow_drop_down-24px.svg " alt=" " class="icons-xs ">
            </div>
        </div>
        <div class="filter-updateon">
            <div class="filter-box">
                <input type="text " placeholder="Filter" name="filter ">
                <img src=" https://freehost-spec.github.io/dexcenter-dashboard/assets/images/icons/arrow_drop_down-24px.svg " alt=" " class="icons-xs ">
            </div>
        </div>
        <div class="filter-updatedby">
            <div class="filter-box">
                <input type="text " placeholder="Filter" name="filter ">
                <img src=" https://freehost-spec.github.io/dexcenter-dashboard/assets/images/icons/arrow_drop_down-24px.svg " alt=" " class="icons-xs ">
            </div>
        </div>
    </div>
    <!-- table descriptions -->
    <ng-container *ngFor="let item of userdata">
        <div class="user-rows">
            <div class="user-container-rows user-td">
                <div class="user-activity  ml-50">{{item.activity}}</div>
                <div class="user-updated-on">{{item.updatedon}}</div>
                <div class="user-updated-by">{{item.updatedby}}</div>
            </div>
            <div class="ml-50 divider">
                <hr>
            </div>
        </div>
    </ng-container>
    <!-- Paggination -->
    <ng-container>
        <div class="page-container">
            <div class="pt-5 pb-5 page-content">
                <div class="pagination-left pl-20 pb-5 pt-5 font-s">
                    Viewing 07 of 200 Records
                </div>
                <div class="pagination-right font-s mr-30">
                    <div class="pb-5 pt-5">
                        <img src="https://freehost-spec.github.io/dexcenter-dashboard/assets/images/icons/skip_first.svg" alt="" class="icons-xs">
                    </div>
                    <div class="pb-5 pt-5">
                        <img src="https://freehost-spec.github.io/dexcenter-dashboard/assets/images/icons/skip_previous.svg" alt="" class="icons-xs mr-10 ml-10">
                    </div>
                    <div class="page-details">
                        <p>Page</p>
                        <input type="text" class="page-number ml-5 mr-5 p-5" size="6" value="1">
                        <p>of 76</p>
                    </div>
                    <div class="pb-5 pt-5">
                        <img src="https://freehost-spec.github.io/dexcenter-dashboard/assets/images/icons/skip_next.svg" alt="" class="icons-xs mr-10 ml-10">
                    </div>
                    <div class="pb-5 pt-5">
                        <img src="https://freehost-spec.github.io/dexcenter-dashboard/assets/images/icons/skip_last.svg" alt="" class="icons-xs">
                    </div>
                </div>
            </div>

        </div>
    </ng-container>
</div>